body {
  font-family: Verdana;
  color: #474747;
  text-align: center;
  background: url('https://i.pinimg.com/originals/bf/a2/19/bfa219e5bdad79a30c8d5951cfe6aba1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  max-width: 500px;
  margin: 0 auto 150px;
}

h1 {
  color: green;
  font-size: 20px;
}

ol {
  text-align: left;
}

a img {
  width: 75px;
}

.logo-container {
  margin: 0 auto 30px;
  position: relative;
}

.avatar {
  bottom: -20px;
  right: 100px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;

  border: 3px solid cyan;
}

input {
  background: transparent;
  color: green;
  border: none;
  border-bottom: 2px solid violet;
}

textarea {
  margin-top: 5px;
  border: 1px dashed violet;
}

button {
  cursor: pointer;
  width: 150px;
  padding: 4px;
  border-radius: 5px;
  font-style: italic;
  font-size: 15px;
}

button[type="submit"] {
  color: white;
  background: rebeccapurple;
}

button[type="reset"] {
  color: rebeccapurple;
  border: 1px solid rebeccapurple;
}

/*Pseudo-classes*/
input:hover {
  border-color: darkviolet;
}

input:focus {
  outline: 1px solid blue;
}

input:disabled {
  border-color: grey;
}
/*--------------*/

/*  animation */
.animated {
  width: 200px;
  transition: .3s width;
}

.animated:focus, .animated:hover {
  width: 300px;
}
/*------------*/





